@model IEnumerable<Filmes4All.Models.Filmes>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Filmes</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pontuacao)
        </th>
        <th></th>
    </tr>

@foreach (var filme in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => filme.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.Ano)
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => filme.Capa)*@
            <a href="~/imgFilmes/@filme.Capa" target="_blank">
                <img src="~/imgFilmes/@filme.Capa" width="100" height="100" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.PrecoVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.Pontuacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=filme.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=filme.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=filme.ID })
        </td>
    </tr>
}

</table>
