@model IEnumerable<Filmes4All.Models.Filmes>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Filmes</h2>

@if (User.IsInRole("Admin"))
{
        <!-- Adicionar novo filme -->
    <div class="col-md-12 divBtnCentro">
        <input type="button" class="btn btn-primary" value="Adicionar Novo Filme" onclick="location.href='@Url.Action("Create", "Filmes")'" />
    </div>
}
<br />


        <!-- interface de pesquisa -->
    @using (Html.BeginForm())
    {
<p class="interfPesq">
    @Html.TextBox("pesquisar", "", new { @class = "form-control pesq", @maxlength = "30", @placeholder = "Pesquisa por nome" })
    <input type="submit" class="btn btn-primary" value="Pesquisar" />
</p>
    }







<div class="centrarTab">
    <div class="displayTab">
        <!-- tabela de Filmes -->
        <table class="table">
            <!-- cabeçalhos -->
            <tr>
                <th class="colCentro">@Html.ActionLink("Titulo", "Index", new { ordenar = ViewBag.OrdTitulo })</th>
                <th class="colCentro">@Html.ActionLink("Ano", "Index", new { ordenar = ViewBag.OrdAno })</th>
                <th class="colCentro">@Html.DisplayNameFor(model => model.Capa)</th>
                <th class="colCentro">@Html.ActionLink("PreçoVenda", "Index", new { ordenar = ViewBag.OrdPreco })</th>
                <th class="colCentro">@Html.ActionLink("Pontuação", "Index", new { ordenar = ViewBag.OrdPontuacao })</th>

                @if (User.IsInRole("Admin"))
                {
                    <th class="colCentro">Opções de Gestão</th>
                }

            </tr>
            <!-- dados dos filmes -->
            @foreach (var item in Model)
            {
                <tr>
                    <td class="colEsq">@Html.DisplayFor(modelItem => item.Titulo)</td>
                    <td class="colCentro">@Html.DisplayFor(modelItem => item.Ano)</td>
                    <td class="colCentro">
                        <a href="~/imgFilmes/@item.Capa" target="_blank">
                            <img src="~/imgFilmes/@item.Capa" width="100" height="100" />
                        </a>
                    </td>
                    <td class="colCentro">@Html.DisplayFor(modelItem => item.PrecoVenda)</td>
                    <td class="colCentro">@Html.DisplayFor(modelItem => item.Pontuacao)</td>

                    @if (User.IsInRole("Admin"))
                    {
                            <!-- opções de gestão -->
                        <td class="colCentro">
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                        </td>
                    }
    
                </tr>
            }
        </table>
    </div>
</div>









@*

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pontuacao)
        </th>
        <th></th>
    </tr>

@foreach (var filme in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => filme.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.Ano)
        </td>
        <td>
           
            <a href="~/imgFilmes/@filme.Capa" target="_blank">
                <img src="~/imgFilmes/@filme.Capa" width="100" height="100" />
            </a>


        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.PrecoVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => filme.Pontuacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=filme.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=filme.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=filme.ID })
        </td>
    </tr>
}

</table>

*@
